<div class="container">
  <h1>Student Works</h1>


      <div class="row">
        <% @works.each do |work| %>
          <% if work.image.present? %>
          <div class="col-md">
            <%= link_to image_tag(work.image, :alt => work.title, :title => work.title, :class => ' img-thumbnail'), work %>
           <% else %>
               <%= link_to work.title, work, :class => 'anchors' %>
           <% end %>
          </div>
        <% end %>
      </div>

</div>
